language: go
dist: xenial
os: linux
go:
  - "1.13.x"
before_install:
  - curl https://raw.githubusercontent.com/go-task/task/master/install-task.sh | sh
  - mv ./bin/task $GOPATH/bin
install:
  - task vendor
script:
  - task test
before_deploy:
  - task dist
deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file_glob: true
  file: dist/*
  skip_cleanup: true
  on:
    tags: true
